<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Clientes registrados</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-sm">
            <thead>
                <tr style="text-align:center;">
                    <th> ID </th>
                    <th> Tipo ID </th>
                    <th> # Identificación </th>
                    <th> Nombres </th>
                    <th> Apellidos </th>
                    <th> Correo Electrónico </th>
                    <th> Fecha Nacimiento </th>
                    <th> Fecha Creación </th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody class="align-middle;">
                <tr *ngFor ="let customer of customers" class="text-center">
                    <td class="align-middle">{{customer.id}}</td>
                    <td class="align-middle">{{customer.typeId}}</td>
                    <td class="align-middle">{{customer.numId}}</td>
                    <td class="align-middle">{{customer.firstName}}</td>
                    <td class="align-middle">{{customer.lastName}}</td>
                    <td class="align-middle">{{customer.email}}</td>
                    <td class="align-middle">{{customer.birthdayDate}}</td>
                    <td class="align-middle">{{customer.creationDate}}</td>
                    <td class="align-middle">
                        <button (click)="EditCustomer(customer.id)" class="btn btn-secondary">Acciones</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
