<div class="container-fluid">
  <div class="row">
    <div class="card col-md-4">
      <div class="card-header">
        <h3>Editar Clientes</h3>
      </div>
      <div class="card-body">
        <form class="row g-0 needs-validation" action="">
          <div class="form-group col-md-12 col-form-label-sm">
            <label for="firstName">Nombre</label>
            <input
              id="firstName"
              type="text"
              class="form-control"
              placeholder="Nombre"
              name="firstName"
              [(ngModel)]="currentCustomer.firstName"
              required
            />
          </div>
          <div class="form-group col-md-12 col-form-label-sm">
            <label for="lastName">Apellidos</label>
            <input
              id="lastName"
              type="text"
              class="form-control"
              placeholder="Apellido"
              name="lastName"
              [(ngModel)]="currentCustomer.lastName"
              required
            />
          </div>
          <div class="form-group col-md-4 col-form-label-sm">
            <label for="typeId">Tipo Id</label>
            <select
              id="typeId"
              class="form-select"
              name="typeId"
              [(ngModel)]="currentCustomer.typeId"
              required
            >
              <option value="CC" selected>CC | Cédula ciudadania</option>
              <option value="PA">PA | Pasaporte</option>
              <option value="NIT">NIT | NIT</option>
              <option value="CE">CE | Cédula extranjeria</option>
              <option value="TI">TI | Tarjeta de identidad</option>
            </select>
          </div>
          <div class="form-group col-md-8 col-form-label-sm">
            <label for="numId">Número de identificación</label>
            <input
              id="numId"
              type="text"
              class="form-control"
              placeholder="123456789"
              name="numId"
              [(ngModel)]="currentCustomer.numId"
              required
            />
          </div>
          <div class="form-group col-md-12 col-form-label-sm">
            <label for="email">Correo electronico</label>
            <input
              id="email"
              type="email"
              class="form-control"
              placeholder="correo_ejemplo@email.com"
              name="email"
              [(ngModel)]="currentCustomer.email"
              required
            />
          </div>
          <div class="form-group col-md-12 col-form-label-sm">
            <label for="birthdayDate">Fecha de nacimiento</label>
            <input
              id="birthdayDate"
              type="date"
              class="form-control"
              name="birthdayDate"
              [(ngModel)]="currentCustomer.birthdayDate"
              required
            />
          </div>
          <button (click)="edit()" class="btn btn-success" style="  width: 40%; margin-left: 10px; text-align: center; margin-bottom: 10px; margin-top: 10px;" type="submit">
            Actualizar
          </button>

          <button (click)="delete()" class="btn btn-danger" style=" width: 40%; margin-left: 10px; text-align: center; margin-bottom: 10px; margin-top: 10px;" type="submit">
            Eliminar
          </button>

          <button (click)="backCustomer()" class="btn btn-info" style=" width: 40%; margin-left: 10px; text-align: center; margin-bottom: 10px; " type="submit">Atrás</button>
        </form>
      </div>
    </div>
    <div class="container col-md-7">
      <app-list-product></app-list-product>
    </div>
  </div>
</div>
