<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Realizar movimientos</h3>
      </div>
      <div class="card-body">
        <form class="row g-3 needs-validation" action="">
          <div class="form-group col-md-8 col-form-label-sm">
            <label for="transactionType">Tipo de movimiento</label>
            <select
              id="transactionType"
              class="form-select"
              name="transactionType"
              [(ngModel)]="transaction.transactionType"
              required
            >
              <option value="Retiro" selected>Retiro</option>
              <option value="Consignación">Consignación</option>
              <option value="Transferencia">Transferencia</option>
            </select>
          </div>
  
          <div class="form-group col-md-8">
            <label for="transactionValue">Cantidad de dinero</label>
            <input
              id="transactionValue"
              type="number"
              class="form-control"
              placeholder="123456789012"
              name="transactionValue"
              min="0"
              value="0"
              [(ngModel)]="transaction.transactionValue"
              required
            />
          </div>
          <div class="form-group col-md-8">
            <label for="transactionDetails">Descripción </label>
            <input
              id="transactionDetails"
              type="text"
              class="form-control"
              placeholder="Ej: Pago de reloj"
              name="transactionDetails"
              [(ngModel)]="transaction.transactionDetails"
              required
            />
          </div>
          <div class="container">
            <div id="collapseExample" [ngbCollapse]="isCollapsed()">
              <div class="form-group col-md-8 col-form-label-sm">
                <label for="secondaryProductId"> Cuenta a transferir </label>
                <select
                  id="secondaryProductId"
                  class="form-select"
                  name="secondaryProductId"
                  [(ngModel)]="transaction.secondaryProductId"
                  required
                >
                  <option
                    *ngFor="let product of products"
                    [value]="product.productId"
                  >
                    Id {{ product.productId }} Cuenta
                    {{ product.typeAccount }} número {{ product.numAccount }}
                  </option>
                </select>
              </div>
            </div>
          </div>
  
          <div
            class="btn-holder"
            style="justify-content: flex-end; display: flex; margin-bottom: 10px"
          >
            <button
              (click)="saveTransaction()"
              class="btn btn-success"
              style="
                width: 25%;
                margin-left: 10px;
                text-align: center;
                margin-bottom: 10px;
                margin-top: 10px;
              "
              type="submit"
            >
              Confirmar
            </button>
            <button
              (click)="backProduct()"
              class="btn btn-secondary"
              style="
                width: 25%;
                margin-left: 10px;
                text-align: center;
                margin-bottom: 10px;
                margin-top: 10px;
              "
              type="submit"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
