<div class="container">
  <div class="btn-holder" style="display: flex; margin-bottom: 10px">
    <button (click)="AddProduct(9)" class="btn btn-success">
      Crear Cuenta
    </button>
  </div>

  <div
    *ngFor="let product of products"
    class="card"
    style="margin-bottom: 10px"
  >
    <div class="card-header">
      <h3>Cuenta de {{ product.typeAccount }}</h3>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span>Número de cuenta: </span> {{ product.numAccount }}
        </li>
        <li class="list-group-item">
          <span>Saldo: </span> {{ product.balance }}
        </li>
        <li class="list-group-item">
          <span>Estado: </span> {{ product.state }}
        </li>
        <li class="list-group-item">
          <span>Fecha creación: </span>
          {{ product.creationDate }}
        </li>
      </ul>
    </div>
    <div
      class="btn-holder"
      style="justify-content: flex-end; display: flex; margin-bottom: 10px"
    >
      <button
        (click)="accountStatus(product.userId, product.productId)"
        class="btn btn-dark"
        style="margin-left: 5px; margin-right: 5px"
      >
        Estado cuenta
      </button>
      <button
        (click)="addMovementMoney(product.userId, product.productId)"
        class="btn btn-success"
        style="margin-left: 5px; margin-right: 5px"
      >
        Movimientos
      </button>

      <button
        (click)="activateProduct(product.userId, product.productId)"
        class="btn btn-warning"
        style="margin-left: 5px; margin-right: 5px"
      >
        Activar Cuenta
      </button>
      <button
        (click)="deactivateProduct(product.userId, product.productId)"
        class="btn btn-warning"
        style="margin-left: 5px; margin-right: 5px"
      >
        Inactivar Cuenta
      </button>
      <button
        (click)="cancelProduct(product.userId, product.productId)"
        class="btn btn-danger"
        style="margin-left: 5px; margin-right: 5px"
      >
        Cancelar Cuenta
      </button>
      <button
        (click)="uncancelProduct(product.userId, product.productId)"
        class="btn btn-danger"
        style="margin-left: 5px; margin-right: 5px"
      >
        Reestablecer Cuenta
      </button>
    </div>
  </div>
  <hr />
</div>
